<div class="body container-fluid">
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="up" [(opened)]="opened">
        <div class="sideMenu">            
            <h2 class="side-title">RoomNodi</h2>
            <div>
                <h6 class="side-header">Popular Cities</h6>
                <ul type="none">
                    <li *ngFor="let i of popular">
                        <a (click)="navigate(i)">{{i}}</a>
                    </li>
                </ul>
            </div>
            <hr>
            <div>
                <h6 class="side-header">Categories</h6>
                <ul type="none">
                    <li *ngFor="let i of category">
                        <a (click)="navigate(i)">{{i}}</a>
                    </li>
                </ul>
            </div>
            <hr>
            <mat-list>
                <div *ngIf="!logged_in">
                    <mat-list-item>
                        <a class="sidelink" (click)="openDialog()">Login</a>
                        <a class="sidelink" routerLink="/signup">Signup</a>
                    </mat-list-item>
                </div>
                <div *ngIf="logged_in">
                    <mat-list-item>
                        <a (click)="account()">My account</a>
                    </mat-list-item>
                    <mat-list-item> <a (click)="account()">Settings <img src="../assets/icons/settings.svg" alt=""> <i  class="fa fa-cog"></i></a></mat-list-item>
                    <mat-list-item> <a (click)="account()">Notifications <span  [matBadge]=notif_count matBadgeColor="warn"> <img src="../assets/icons/notifications.svg" alt=""></span> <i class="fa fa-bell"></i> </a></mat-list-item>
                    <mat-list-item> <a href=""> <small>Logout</small></a></mat-list-item>
                    
                </div>
                <hr>

                <mat-card>
                    <mat-card-content>
                        <img style="width:100%;" src="../assets/icons/home.jpg" alt="imggg">
                    </mat-card-content>
                </mat-card>
            </mat-list>

            <hr>  
            <mat-list class="side-bottom">
                <mat-list-item >
                    <a routerLink="/temp">Help</a>
                    <a routerLink="/temp">About Us</a>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>  
        <mat-toolbar color="primary" style="background-color: rgb(38, 192, 166);" class="navbar">
            <div>
                <i (click)="opened=!opened" class="fa fa-bars bars"></i>
                <a routerLink="/home" class="title">
                    RoomNodi.com
                </a>
            </div>

            <div class="top-bar" style="width:28%;">
                <form (submit)="search(searchForm)" #searchForm="ngForm">
                    <input class="search" type="search" name="keyword" ngModel required placeholder="search here" #keyword="ngModel">
                    <a class="top-bar" type="submit" (click)="search(searchForm)">  <i style="padding-left: 10px;" class="fa fa-search"></i> </a>
                </form>
            </div>
            <div class="nav-right">
                <a *ngIf="logged_in" (click)="account()"> {{user.firstName}} <i class="fas fa-user"> </i> </a>
                <a *ngIf="logged_in" (click)="account()"><i  [matBadge]=notif_count matBadgeColor="warn" class="fas fa-bell"></i></a>
                <a *ngIf="!logged_in"  (click)="openDialog()">  Login<i class="fa fa-user-circle"></i></a>
                <a *ngIf="!logged_in" routerLink="/signup">Sign Up <i class="fas fa-user"></i></a> 
                <a style="font-size: small;" routerLink="/temp">Help <i class="fas fa-question-circle"></i></a>
                <a style="font-size: small;" routerLink="/temp">About us<i class="fas fa-users"></i></a> 

            </div>
        </mat-toolbar>
        <main style="margin-bottom: 0px;" >
          <router-outlet></router-outlet>
        </main>
        <app-footer class="footer"></app-footer>    
    </mat-sidenav-content>
</mat-sidenav-container>
</div>